/node_modules
/public/hot
/public/storage
/public/css
/public/js
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



*.zip
*.rar
*.tar
*.sql

/public/assets/images
/public/assets/files